{% if has_any_student_emails %}
	<p><a href="{{ batch_email_link }}" target="_blank" class="button button-primary button-large">Poslat hromadný e-mail všem studentům</a></p>
{% endif %}
<p><a href="{{ excel_download_link }}" target="_blank" class="button button-primary button-large">Exportovat seznam studentů to Excelu</a></p>
