{% extends 'master.twig' %}

{% block page_title %}Fotogalerie{% endblock %}

{% block main_content %}

    <nav class="gallery_root">

        {{ dump(school_years) }}

        <a href="" class="gallery_root__item">
            <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
            <div class="gallery_root__item__metadata">
                <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
            </div>
        </a>

        <button class="gallery_root__section_heading" data-target="gallery_root_section_1" aria-controls="gallery_root_section_1">2018/2019</button>

        <div class="gallery_root__items_container" id="gallery_root_section_1">

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <!--<div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>-->
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur deleniti dolore eos facere. Consequatur corporis nihil nostrum voluptatum. Cumque.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

        </div>

        <button class="gallery_root__section_heading is-closed" data-target="gallery_root_section_2" aria-controls="gallery_root_section_2">2017/2018</button>

        <div class="gallery_root__items_container is-closed" id="gallery_root_section_2">

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <!--<div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>-->
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.<br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consequuntur deleniti dolore eos facere. Consequatur corporis nihil nostrum voluptatum. Cumque.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

        </div>

        <button class="gallery_root__section_heading is-closed" data-target="gallery_root_section_3" aria-controls="gallery_root_section_3">2016/2017</button>

        <div class="gallery_root__items_container is-closed" id="gallery_root_section_3">

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

        </div>

        <button class="gallery_root__section_heading is-closed" data-target="gallery_root_section_4" aria-controls="gallery_root_section_4">2015/2016</button>

        <div class="gallery_root__items_container is-closed" id="gallery_root_section_4">

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

            <a href="" class="gallery_root__item">
                <img src="https://via.placeholder.com/350x150" alt="" class="gallery_root__item__image">
                <div class="gallery_root__item__metadata">
                    <h3 class="gallery_root__item__metadata__heading">Vítání školního roku - 1.10.2018</h3>
                    <div class="gallery_root__item__metadata__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, laboriosam.</div>
                </div>
            </a>

        </div>

    </nav>

{% endblock %}

