.idea
.vagrant
backups
resources
Vagrantfile

puphpet/*
!puphpet/config.yaml

html/.sass-cache
html/node_modules

wp/**
!wp/wp-content
!wp/wp-content/languages
!wp/wp-content/languages/**
!wp/wp-content/themes
!wp/wp-content/themes/vossps_km
!wp/wp-content/themes/vossps_km/**
!wp/wp-content/plugins
!wp/wp-content/plugins/disable-delete-post-or-page-link-wordpress-plugin
!wp/wp-content/plugins/disable-delete-post-or-page-link-wordpress-plugin/**